*{
    margin: 0px;
}
header{
    text-align:center;
    padding: 30px;
    background-color: rgba(202, 176, 120, 0.774);
    color: rgb(199, 248, 120);
}
nav{
      display: grid;
    background-color: beige;
    justify-content: center left;
    padding: 20px;

}
nav li{
    list-style: none;
    display: inline;
    padding: 10px;
    margin: 20px;
}
nav li a{
    text-decoration: none;
}
nav li:hover{
    background-color: #fad0f6;
    border-radius: 50px;
}
main h2{
    padding: 30px;
}
.info{
    display: grid;
    justify-content: center;
    padding: 20px;
    text-align: center;
    margin: 20px;
}
.Basic{
    width: 20rem;
    padding: 10px;
    font-size: larger;
    border-radius: 10px;

}
.breed label{
    display: inline-block;
    padding: 10px;
}
.color label{
    display: inline-block;
    padding: 10px;
}
fieldset{
    margin: 20px;
}
fieldset legend{
    text-align: center;
}
.button{
   display: block;
    margin: 20px;
}
#submit{
    margin: 20px;
    font-size: larger;
    border-radius: 5px;
}
#reset{
    margin: 20px;
    font-size: larger;
    border-radius: 5px;
}

